project_id             = "agy-remote-vm-prj"
region                 = "us-central1"
zone                   = "us-central1-a"
manage_org_policies    = true
vm_name                = "ag-vm-1"
vm_machine_type        = "e2-standard-16"
vm_image               = "ubuntu-os-cloud/ubuntu-2604-resolute-amd64-v20260918"
cloud_run_service_name = "remote-browser-vm1"
cloud_run_image        = "us-docker.pkg.dev/qwiklabs-resources/lfs-images/nginx-reverse-proxy:latest"
